*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2em;
}

/* Navbar CSS */
nav{
    position: fixed;
    width: 60%;
    z-index: 500;
}

nav i {
    font-size: 30px !important; 
    margin: 10px 0 0 15px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 90%;
}

.show { 
    list-style: none;
    background-color: rgba(5, 83, 150, 1);
    margin: 10px 0 0 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    right:0;
    transition: ease-in-out .4s;
    z-index: 501;
}

.hide {
    list-style: none;
    background-color: rgba(5, 83, 150, 1);
    margin: 10px 0 0 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    right: 600%;
    transition: ease-in-out .4s;
    z-index: 501;
}


nav ul a{
    text-decoration: none;
    color: White;
}
nav ul li {
    font-size: 30px;
}

/* About Me CSS */
#About {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    z-index: 0;
}

.image-section {
    width:100vw;
    text-align: center;
}
.image-section img{
    width: 100%;
}

.me-section {
    text-align: center;
    border: black 2px solid;
    margin: 2px 3px 0px 3px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.me-section h2 {
    font-size: 30px;
}

#About-hr {
    width: 60%;
    margin: 0 auto 10px auto;
}

.me-section p {
    margin-bottom: 15px;
}

.me-section a {
    border: 1px solid rgba(5, 83, 150, 1);
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgba(5, 83, 150, 1);
}

.me-section a:hover {
    color: black;
    background-color: white;
}
/* Projects CSS */
#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Project-hr {
    margin-top: 10px;
    width: 70%;
}

#Projects h2 {
    text-align: center;
    font-size: 30px;
}

.projects-card {
    width: 85%;
    margin: 15px auto;
    border: rgba(5, 83, 150, 0.2) 2px solid;
    border-radius: 13px;
    padding-bottom: 10px;
    background-color: rgba(5, 83, 150, 0.2);
    display: flex;
    flex-direction: column;
}

.projects-card h4 {
    margin: 10px 0 0 5px;
}

.projects-card ul {
    margin: 15px 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.projects-card ul li {
    border: rgba(5, 83, 150, 1) 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    margin: 5px
}

.projects-card img {
    width: 100%;
    height: 205.95px;
}

.projects-card h3 {
    text-align: center;
    background-color: rgba(5, 83, 150, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
}

/* Contact Me CSS */
#Contact {
    width: 100%;
    margin: 0 auto;
}
#Contact h2 {
    font-size: 30px;
    text-align: center;
}

#Contact-hr{
    width: 70%;
    margin: 10px auto;
}

form {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto 40px auto;
    border: rgba(5, 83, 150, 0.5) solid 2px;
    padding: 20px;
    border-radius: 10px;
}

form label {
    font-size: 25px;
}

form input[type="text"], [type="tel"], [type="email"]{
    width: 75%;
    font-size: 20px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    width: 25%;
    margin: 20px auto 5px auto;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(5, 83, 150, 1);
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}


textarea {
    font-size: 20px;
}
/* Footer CSS */
footer {
    background-color:rgba(5, 83, 150, 1);
    width: 100%;
    height: 100px;
    color:white;
    text-align: center;
    position: static;
    bottom:0;
    box-shadow: black 2px 2px 20px;
    padding: 15px 0 0 0;
}

footer a {
    text-decoration: none;
    color:white;
}

#feet {
    margin: 5px;
}

footer img {
    height: 50px;
    padding-top: 15px;
}

footer a i {
    font-size: 30px !important;
    margin: 0 10px;
}

#FooterPCLogo {
    padding: 0;
    margin: 0;
    display: inline;
    color: white;
    font-size: 2em;
}

#FooterPCLogo p {
    margin: 0 0 10px 0;
}

@media(min-width: 768px){
    
    .image-section img{
        height: 75%;
        width: 70%;
    }

    .projects-card ul li {
        font-size: 25px;
    }

    .projects-card h4 {
        font-size: 1.5em;
    }

    .projects-card img {
        height: 372.2px;
    }
}

@media (min-width: 1024px){
    h1{
        font-size: 60px;
    }

    nav{
        width: 30%;
    }

    nav ul li {
        font-size: 40px;
    }

    .image-section img {
        width: 70%;
        height: 90%;
        box-shadow: black 5px 5px 10px;
    }

    #About{
        flex-direction: row;
        position: relative;
        top: 50px;
    }
    .me-section {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: rgba(5, 83, 150, .1);
        position: relative;
        right: 50px;
        top: 10px;
    }

    .me-section h2 {
        font-size: 50px
    }

    .me-section p { 
        font-size: 25px;
        text-align: left;
        padding: 0 30px;
    }

    .me-section a { 
        font-size: 30px;
    }

    #Projects {
        margin-top: 100px;
    }
    #Projects h2 {
        font-size: 50px;
    }

    .projects-card{
        width: 70%;
    }

    .projects-card img {
        height: 251.36px;
    }

    .projects-card h3 {
        font-size: 35px;
    }

    #card-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0px;
        justify-content: center;
        align-items: center;
    }

    .projects-card ul li{
        font-size: 25px;
    }

    #Contact h2 {
        font-size: 50px;
        margin-top: 50px;
    }

    #Contact-hr {
        width: 30%
    }
    form{
        width: 30%;
        margin-bottom: 90px;
    }

    form label {
        font-size: 30px;
    }

    form input[type="text"], [type="tel"], [type="email"]{
        width: 85%;
    }

    form input[type="submit"]{
        font-size: 25px;
    }

    textarea{
        width: 90%;
    }
}

@media (min-width: 1440px){

    .projects-card img{
        height: 352.28px;
    }
}

@media(min-width: 2560px) {
    .image-section img {
        height: 70%;
    }
}